.testimony{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--color-p1);
	overflow: hidden;
}

.testimony img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0px;
}

.testimony-content{
	padding: 40px 80px;
	align-self: end;
	background: url("../../../assets/icons/decorations/decoration.svg") no-repeat bottom 40px right 40px;
}

.testimony-content p{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 32px;
    max-width: 32ch;
    position: relative;

}

.testimony p::before{
	content: "“";
	font-size: 4rem;
	color: var(--color-p4);
	position: absolute;
	left: -50px;
	top: -20px;
}

.testimony p::after{
	content: "”";
	font-size: 4rem;
	color: var(--color-p4);
	position: absolute;
}

.testimony span{
	font-size: 1.2rem;
}

@media(max-width: 800px){
	.testimony{
		grid-template-columns: 1fr;
		text-align: center;
	}

	.testimony img{
		max-height: 800px;
	}
	.testimony-content{
		padding: 40px 20px;
		justify-self: center;
	}
}

@media(min-width: 1200px){
	.testimony img{
		max-height: 520px;
	}
}