*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 600px;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  display: block;
}

/* HEADER */

.header-bg{
  background: #060606;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a{
  text-decoration: none;
  display: inline-block;
  color: #FFFF;
  padding: 16px 0;
  cursor: pointer;
  font-size: 1.125rem;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.header-menu a:after{
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #1CDC69;
  margin-top: 4px;
  transition: .3s;
  position: absolute;
}

.header-menu a:hover:after{
  width: 100%;
}

@media(max-width: 800px){
  .header-menu{
    gap: 20;
  }

  .header-menu a{
    background: #121212;
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover{
    background: #1F1F1F;
  }

  .header-menu  a:after{
    display: none;
  }
}

@media(max-width: 600px){
  .header-menu{
    gap: 12px;
  }

  .header-menu a{
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}

/* END HEADER */

/* INTRO */

.intro-bg{
  background: #060606;
  color: #FFFF;
  box-shadow: inset 0px -120px #FFFF;
}

.intro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}

.intro-content{
  padding-bottom: 240px;
  align-self: end;
}

.intro img{
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.intro h1{
  font-size: 4.2rem;
  line-height: 1.125;
  margin-bottom: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.intro h1 span{
  color: #1CDC69;
}

.intro p{
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1.33;
  font-family: 'Roboto', sans-serif;
  color: #D5D5D5;
}

.intro a{
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#00FF66, #12D25F);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #0C140F;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.intro a:hover{
  background: linear-gradient(#04ee62, #13c95c);
  transition: .3s;
}

@media(max-width: 600px){
  .intro a{
    padding: 12px 16px;
    font-size: 1rem;
  }
}

@media(max-width: 1200px){
  .intro h1{
    font-size: 3rem;
  }

  .intro p{
    font-size: 1.125rem;
  }
}

@media(max-width: 800px){
  .intro-bg{
    background: #121212;
    padding-top: 40px;
    box-shadow: inset 0 -60px #FFFF;
  }

  .intro{
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .intro-content{
    padding-bottom: 0px;
  }

  .intro h1{
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .intro img{
    height: 300px;
    width: 100%;
  }
}

/* END INTRO */